*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

p{
    font-family: 'Raleway', sans-serif;
}


html, body{
    height: 100%;
    scroll-behavior: smooth;
}

/*NAV BAR*/

nav{
    background-color: rgb(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    border-bottom: 5px solid #6Eb5FF;
    top: 0;
    z-index: 999;
}

header{
    width: 95%;
    margin: auto;
    display: flex;
}

.logo{
    float: right;
    color: #000;
    padding-top: 4px;
}

header ul{
    margin-left: auto;
}

header ul li{
    margin: auto;
    padding: 10px 10px 10px 0;
    float: left;
}

header ul li a{
    color: #000;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
}

header ul li a:hover{
    opacity: 1;
}

/*LANDING PAGE*/

.bg{
    background: url(imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 100%;
}

.landing-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-content .title{
    color: white;
    text-align: center;
    max-width: 600px;
}

.landing-content .desc{
    margin-top: 10px;
    color: white;
    font-size: 1.2em;
    max-width: 700px;
    padding: 10px;

}

.landing-content .btn{
    color: white;
    opacity: 0.7;
    font-size: 40px;
    position: absolute;
    bottom: 40px;
}

.landing-content .btn:hover{
    opacity: 1;
}

/*ABOUT US*/

.grid-container{
    background: url(imgs/aboutus.jpg) cover no-repeat;
    height: 100vh;
    min-height: 800px;
    display: grid;
    grid-template-rows: 10% 10% 60% 20%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        ".       .       ."
        ". section-title ."
        ".     about     ."
        ".       .       ."
}

.section-title{
    grid-area: section-title;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 1000;
    letter-spacing: 2px;
    color: #FFF;
}

.about{
    grid-area: about;
    width: 60%;
    max-width: 600px;
    background-color: 
}

.about p{
    font-size: 1.2em;
    margin-top: 5px;
    color: #FFF;
    min-width: 400px;
}

.about-content{
    color: #575757;
}

.subtitle{
    font-weight: 1000;
    color: #FFF;
    padding-top: 20px;
}

.mission-content{
    padding-left: 10px;
    border-top: 3px solid #FFABAB;
}

.vision-content{
    padding-left: 10px;
    border-top: 3px solid #6EB5FF;
}

.aboutus-content{
    padding-left: 10px;
    border-top: 3px solid #C5A3FF;
}


