*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

p{
    font-family: 'Raleway', sans-serif;
}


html, body{
    height: 100%;
    scroll-behavior: smooth;
}

/*NAV BAR*/

nav{
    background-color: rgb(255, 255, 255, 0.9);
    position: fixed;
    width: 100%;
    border-bottom: 5px solid #6Eb5FF;
    top: 0;
    z-index: 999;
}

header{
    width: 95%;
    margin: auto;
    display: flex;
    position: relative;
}

.logo{
    float: left;
    color: #000;
    padding-top: 4px;
}

header ul{
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
}

header ul li{
    margin: auto;
    padding: 0 10px 0 0;
    float: left;
}

header ul li a{
    color: #000;
    opacity: 0.5;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
}

header ul li a:hover{
    opacity: 1;
}

.btn a{
    color: #FFF;
}

/*LANDING PAGE*/

.bg{
    background: url(imgs/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 100%;
}

.landing-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-content .title{
    color: white;
    text-align: center;
    max-width: 600px;
}

.landing-content .desc{
    margin-top: 10px;
    color: white;
    font-size: 1.2em;
    max-width: 700px;
    padding: 10px;

}

.landing-content .btn{
    color: white;
    opacity: 0.7;
    font-size: 40px;
    position: absolute;
    bottom: 40px;
}

.landing-content .btn:hover{
    opacity: 1;
}

/*ABOUT US*/

.aboutus-grid-container{
    background: url(imgs/aboutus.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 900px;
    display: grid;
    grid-template-rows: 10% 10% 60% 20%;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        ".       .       ."
        ". section-title ."
        ".     about     ."
        ".       .       ."
}

.section-title{
    grid-area: section-title;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 1000;
    letter-spacing: 2px;
    color: #FFF;
}

.about{
    grid-area: about;
    width: 60%;
    max-width: 600px;
    background-color: 
}

.about p{
    font-size: 1.2em;
    margin-top: 15px;
    color: #FFF;
    min-width: 400px;
}

.about-content{
    color: #575757;
}

.subtitle{
    font-weight: 1000;
    color: #FFF;
    padding-top: 20px;
}

.sub-content{
    padding-top: 10px;
    padding-left: 10px;
}

.mission-content{
    border-top: 3px solid #FFABAB;
}

.vision-content{
    border-top: 3px solid #6EB5FF;
}

.aboutus-content{
    border-top: 3px solid #C5A3FF;
}

/*OFFICERS*/
.section-title-a{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 1000;
}

.officers-grid-container{
    width: 90%;
    margin: auto;
    padding-top: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    align-items: center;
}

.card{
    display: flex;
    background-color: #282828;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}

.card-img{
    height: auto;
    width: 100%;
    max-width: 200px;
}

.card-content{
    text-align: center;
    color: white;
    position: relative;
}

.card-content .name{
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid 4px #FFABAB;
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 1000;
}

.card-content .position{
    padding-top: 5px;
    text-transform: uppercase;
}

.card-content .personal-text{
    width: 80%;
    margin: auto;
    padding-top: 20px;
    opacity: 0.75;
}

.card-links{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -31px;
    display: flex;
}

.card-links a{
    color: white;
    padding-right: 30px;
}


/*EVENTS*/

.upcoming{
    height: 100vh;
}

.section-title-events{
    padding-top: 120px;
}

.calendar{
    display: block; /*because iframe is an inline element*/
    padding-top: 10px;
    margin: auto;
}

/*MEMORIES*/


/*CONTACT*/
.contact{
    height: 25vh;
    background-color: #1a1a1a;
    border-top: 5px solid #6EB5FF;
    position: relative;
}

.section-title-contact{
    text-transform: uppercase;
}

.contact-content{
    width: 80%;
    padding-top: 30px;
    margin: auto;
    color: #FFF;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact-content-sub{
    display: flex;
    padding: 10px 0;
}

.contact-content-sub i{
    padding-right: 10px;
}

.contact-links{
    position: absolute;
    margin-left: -15px;
    bottom: 15px;
}

.contact-links li{
     float: left;
     padding: 0 20px;
}

.contact-links li a{
    color: white;
    font-size: 1.2em;
}






